<form [formGroup]="formGroup">
    <!-- <div class="form-example">
        <label for="brands"> La marque:</label>

        <select name="brands" id="brands">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select> 
    </div>
    <div class="form-example">
        <label for="models">Choisissez le modèle:</label>

        <select name="models" id="models">
          <option value="DS3">DS3</option>
          <option value="serie1">Serie 1</option>
          <option value="c4">c4</option>
          <option value="205">205</option>
        </select> 
    </div> -->
    <div class="form-example">
      <label for="color">Quelle couleur : </label>
      <input class="form-control" formControlName="color" type="text">
    </div>
    <div class="form-example">
      <label for="image">Coller le lien d'une image: </label>
      <input class="form-control" formControlName="imagePath" type="text">
    </div>
    <div class="form-example">
      <input type="submit" value="Créer">
    </div>
  </form>
  <div>
    <button (click)="deleteCar()">Supprimer la voiture</button>
  </div>

